[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "julia-completions"]
	path = julia-completions
	url = https://github.com/fredrikekre/julia-completions.git
