Host ws0
    HostName ws0.int.monumo.com
    User tom
Host ws1
    HostName ws1.int.monumo.com
    User tom
Host ws2
    HostName ws2.int.monumo.com
    User tom
Host ws3
    HostName ws3.int.monumo.com
    User tom
Host frodo
    HostName frodo.int.monumo.com
    User tom
Host bilbo
    HostName bilbo.int.monumo.com
    User tom
Host merry
    HostName merry.int.monumo.com
    User tom
Host pippin
    HostName pippin.int.monumo.com
    User tom
Host sam
    HostName sam.int.monumo.com
    User tom
Host lobelia
    HostName lobelia.int.monumo.com
    User tom
Host camellia
    HostName camellia.int.monumo.com
    User tom
Host arwen
    HostName arwen.int.monumo.com
    User tom
