@import url("file:///etc/xdg/waybar/style.css");

* {
    font-family: 'JuliaMono Nerd Font Mono';
    font-size: 15px;
    font-weight: bold;
}

#workspaces button.active {
    background-color: #145727;
}

#pulseaudio {
    background-color: transparent;
    color: #ffffff;
}
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
#pulseaudio:hover {
    background-color: #a37800;
}

/* Match the style of `pulseaudio`, but toggle the colour based on 
 * source muted state, rather than sink muted state. */
#pulseaudio.microphone {
    background-color: transparent;
    color: #ffffff;
}
#pulseaudio.microphone.source-muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
#pulseaudio.microphone:hover {
    background-color: #a37800;
}
