#window {
    background-color: #1A2526;
    color: #ffffff;
    font-size: 17px;
    font-family: 'JuliaMono Nerd Fond Mono', monospace;
}
#input {
    background-color: #1A2526;
    color: #ffffff;
    padding: 6px;
}
#entry {
    background-color: #1A2526;
    color: #ffffff;
    padding: 6px;
}
#entry:selected {
    color: rgba(0, 0, 0, 1);
    background: rgba(50, 255, 255, 0.2);
    outline: none;
}
#img {
    margin-right: 6px;
}
